@model ProjectX.Entities.Models.CurrencyRate.CurrResp
@{
	var filldata = ViewData["filldata"] as ProjectX.Entities.Models.General.LoadDataResp;

}


<div class="content" pgtype="view">
	<div class="container-fluid" style="padding:10px 0">
		<div class="row mb-3">
			<div class="col-md-12 ">
				<div class="card h-100 ">
					<div class="card-body">
						<h4 class="card-title ">
							<i class="fa fa-arrow-alt-circle-left pointercursor" onclick="history.back()"></i>
							<span>Edit Plan </span>
						</h4>
						<hr />

					   <div id="divinfo" mid="@Model.Id" class="col-lg-12">
                         <div class="row">
                           <div class="form-group mb-3 col-lg-4">
                            <label class="form-control-label" for="currency">Currency</label>
                            <select class="form-control" name="currencyId" id="currencyId" field-name="currency" required onchange="ChangeFormByCategoryId()">
                                <option></option>
                                 @foreach (var thislist in filldata.loadedData.currencies)  
											       @if (thislist.LK_ID == Model.Currency_Id)
												{
													<option value="@thislist.LK_ID" selected> @thislist.LK_TableField</option>
												}
												else
												{
													<option value="@thislist.LK_ID"> @thislist.LK_TableField</option>
												}
                                

                            </select>
                        </div>
                        <div class="form-group mb-3 col-lg-4">
                            <label for="title">Rate</label>
                            <input type="number" class="form-control" id="rateId" name="rateId" value="@Model.Rate"  required>
                        </div>
                       </div>
                     </div>
						</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="card card-body">
					<div class="row">
						<div class="col-lg-8">
						</div>
						<div class="col-lg-4">
							<div class="row">
								<div class="col-lg-4">
									@*<button id="btndelete" class="btn btn-danger w-100 mb-2" type="submit" data-toggle="modal" data-target="#confirm-delete">
										<span> Delete </span>
									</button>*@
								</div>
								<div class="col-lg-4">
									@*<button id="ppp" class="btn btn-info w-100 mb-2" type="submit" data-toggle="modal" data-target="#view-attach-2">
										<span> Files </span>
									</button>*@
								</div>
								<div class="col-lg-4">
									<button id="edit" class="btn btn-primary w-100 bglocalcolor" type="submit">
										<span> Save </span>
									</button>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="confirm-email-approval" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this plan?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  bglocalcolor border" data-dismiss="modal">Close</button>
                <div id="thisloader" class="smloader hide"></div>
                <button id="confirmdeletebtn" type="button" class="btn btn-danger">Proceed</button>
            </div>
        </div>
    </div>
</div>






