
@{
	var is_admin = ViewData["isAdmin"] as string;
	var filldata = ViewData["loadDataCreate"] as ProjectX.Entities.Models.General.LoadDataResp;
	var userId = ViewData["userid"] as string;
	var mainuser = filldata.loadedData.superAgents.Where(a => a.LK_ID == Convert.ToInt16(userId)).FirstOrDefault();
}



<div class="content" pgtype="view">
	<div class="container-fluid" style="padding:10px 0">
		<div class="card-body">
			<form class="needs-validation" novalidate="" id="addUserForm" autocomplete="off">
				<div class="row">
					<div class="@(is_admin == "0"? "col-md-12" : "col-md-9")">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label class="form-control-label" for="firstName">First Name<span class="red-star"> *</span></label>
									<input type="text" class="form-control" id="firstName" field-name="first_Name" required value="">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="form-control-label" for="middleName">Middle Name</label>
									<input type="text" class="form-control" id="middleName" field-name="middle_Name">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="form-control-label" for="lastName">Last Name <span class="red-star"> *</span></label>
									<input type="text" class="form-control" id="lastName" field-name="last_Name" required>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="form-control-label" for="userName">User Name <span class="red-star"> *</span></label>
									<input type="text" class="form-control" id="userName" field-name="user_Name" required>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="form-control-label" for="categoryId">Category <span class="red-star"> *</span></label>
									<select class="form-control" name="categoryId" id="categoryId" field-name="category" required>
										<option></option>
										@foreach (var thislist in filldata.loadedData.userCategory)
										{
											<option value="@thislist.LK_ID"> @thislist.LK_TableField</option>
										}


									</select>
								</div>
							</div>



							<div class="col-md-3">
								<div class="form-group">
									<label class="form-control-label" for="country">Country <span class="red-star"> *</span></label>
									<select class="form-control" name="countryId" id="countryId" field-name="country" required>
										<option></option>
										@foreach (var thislist in filldata.loadedData.destinations)
										{
											<option value="@thislist.D_Id"> @thislist.D_Destination</option>
										}

									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="form-control-label" for="city">City</label>
									<input type="text" class="form-control" id="city" field-name="city" name="city">
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label class="form-control-label" for="telephone">Telephone </label>
									<div class="input-group">
										<input type="text" class="form-control" field-name="country_code" maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="ccode" name="ccode" value="961">
										<input type="text" class="form-control" field-name="telephone" maxlength="12" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="telephone" name="telephone">
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="form-control-label" for="email">Email <span class="red-star"> *</span></label>
									<input type="email" class="form-control" field-name="email" id="email" name="email" required>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="form-control-label" for="superAgentId">Super-Agent <span class="red-star"> *</span></label>
									<select class=" form-control" required field-name="super_Agent_Id">
										@*<option data-select2-id="2">Select Super Agent (Mother Account)</option>*@
										@*<option value="@mainuser.LK_ID">@mainuser.LK_TableField</option>*@

										@foreach (var thislist in filldata.loadedData.superAgents)
										{
											<option value="@thislist.LK_ID"> @thislist.LK_TableField</option>
										}
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="form-control-label" for="contactperson">Contact Person</label>
									<input type="text" class="form-control" field-name="contact_Person" id="contactperson">
								</div>
							</div>

							@if (is_admin == "1")
							{

								<div class="col-md-3">
									<div class="form-group">

										<label class="form-control-label" for="tax">Tax (% and #)</label>

										<div class="input-group mb-3">
											<input type="number" class="form-control" aria-label="Text input with dropdown button" field-name="tax" id="tax" name="tax">
											<div class="input-group-prepend">
												<select class="form-control" id="tax_Type" name="tax_type" field-name="tax_Type">
													<option>Select Type</option>
													@foreach (var thislist in filldata.loadedData.format)
													{
														<option value="@thislist.LK_ID"> @thislist.LK_TableField</option>
													}
													@*<option value="1">%</option>
										<option value="2">Fixed</option>*@
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label class="form-control-label" for="currencyId">Currency <span class="red-star"> *</span></label>
										<select class="form-control" name="currencyId" id="currencyId" field-name="currency" required>
											<option></option>
											@foreach (var thislist in filldata.loadedData.currencyRate)
											{
												<option value="@thislist.LK_ID"> @thislist.LK_TableField</option>
											}
										</select>
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label class="form-control-label" for="roundingRule">Rounding Rule</label>
										<select class="form-control" name="roundingRule" id="roundingRule" field-name="rounding_Rule">
											<option></option>
											@foreach (var thislist in filldata.loadedData.roundingRule)
											{
												<option value="@thislist.LK_ID"> @thislist.LK_TableField</option>
											}
										</select>
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label class="form-control-label" for="commPerc">Commission %</label>
										<input class="form-control" field-name="commission" type="number" min="0" max="99" name="commPerc" id="commPerc" oninput="this.value = Math.abs(this.value)">
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label class="form-control-label" for="stampPerc">Stamp %</label>
										<input class="form-control" field-name="stamp" type="number" min="0" max="99" name="stampPerc" id="stampPerc" oninput="this.value = Math.abs(this.value)" value="0">
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label class="form-control-label" for="retentionPerc">Retention %</label>
										<input class="form-control" field-name="retention" type="number" min="0" max="99" name="retentionPerc" id="retentionPerc" oninput="this.value = Math.abs(this.value)" value="0">
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label class="form-control-label" for="vat">VAT %</label>
										<input class="form-control" field-name="vat" type="number" min="0" max="99" name="vat" id="vat" oninput="this.value = Math.abs(this.value)" value="0">
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label class="form-control-label" for="creationDate">Creation Date</label>
										<label class="form-control" field-name="creation_Date" id="creationDate"></label>
									</div>
								</div>
							}
						</div>
					</div>

					@if (is_admin == "1")
					{
						<div class="col-md-3 mt-4 pl-5">
								<div class="row">

									<div class="col-md-12">
										<div class="form-check-inline ">
											<label class="custom-control custom-checkbox">
												<input type="checkbox" name="canedit" id="canedit" field-name="Can_edit" value="">
												<label class="form-control-label" for="canedit">Can Edit</label>
											</label>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-check-inline ">
											<label class="custom-control custom-checkbox">
												<input type="checkbox" name="cancancel" id="cancancel" field-name="Can_cancel" value="">
												<label class="form-control-label" for="cancancel">Can Cancel</label>
											</label>
										</div>
									</div>


									<div class="col-md-12">
										<div class="form-check-inline ">
											<label class="custom-control custom-checkbox">
												<input type="checkbox" name="isAdditionalFeeFixed" id="isAdditionalFeeFixed" field-name="fixed_Additional_Fees" value="">
												<label class="form-control-label" for="isAdditionalFeeFixed">Max Additional</label>
											</label>
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-check-inline ">
											<label class="custom-control custom-checkbox">
												<input type="checkbox" name="showTotalOnly" id="showTotalOnly" field-name="preview_Total_Only" value="">
												<label class="form-control-label" for="showTotalOnly">Preview Total Only</label>
											</label>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-check-inline ">
											<label class="custom-control custom-checkbox">
												<input type="checkbox" name="showNetTotal" id="showNetTotal" field-name="preview_Net" value="">
												<label class="form-control-label" for="showNetTotal">Preview Net</label>
											</label>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-check-inline ">
											<label class="custom-control custom-checkbox">
												<input type="checkbox" name="canCreateAgents" id="canCreateAgents" field-name="agents_Creation" value="">
												<label class="form-control-label" for="canCreateAgents">Agents Creation</label>
											</label>
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-check-inline ">
											<label class="custom-control custom-checkbox">
												<input type="checkbox" name="viewCommAgentRpt" id="viewCommAgentRpt" field-name="agents_Commission_ReportView" value="">
												<label class="form-control-label" for="viewCommAgentRpt">Agent Commission ReportView</label>
											</label>
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-check-inline ">
											<label class="custom-control custom-checkbox">
												<input type="checkbox" name="viewCommSubAgentRpt" id="viewCommSubAgentRpt" field-name="subAgents_Commission_ReportView" value="">
												<label class="form-control-label" for="viewCommSubAgentRpt">SubAgent Commission ReportView</label>
											</label>
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-check-inline ">
											<label class="custom-control custom-checkbox">
												<input type="checkbox" name="multiLanguage" id="multiLanguage" field-name="multi_Lang_Policy" value="">
												<label class="form-control-label" for="multiLanguage">Multi Language Policy</label>
											</label>
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-check-inline ">
											<label class="custom-control custom-checkbox">
												<input type="checkbox" name="wthPremiumInfo" field-name="hide_Premium_Info" id="wthPremiumInfo" value="">
												<label class="form-control-label" for="wthPremiumInfo">Hide Premium Info.</label>
											</label>
										</div>
									</div>
									@*<div class="col-md-12">
			<div class="form-check-inline ">
				<label class="custom-control custom-checkbox">
					<input type="checkbox" name="is_admin" id="is_admin" field-name="is_admin" value="">
					<label class="form-control-label" for="is_admin">Admin</label>
				</label>
			</div>
		</div>*@
									<div class="col-md-12">
										<div class="form-check-inline ">
											<label class="custom-control custom-checkbox">
												<input type="checkbox" name="active" id="active" field-name="active" checked>
												<label class="form-control-label" for="active">Active</label>
											</label>
										</div>
									</div>
								</div>
							</div>
							}

						</div>
</form>


			<div class="row">

				<div class="col-md-2">
					@*@if (userId != null && Convert.ToInt16(userId)>0 && is_admin=="1")
						{
						<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#openPasswordView" onclick="getUserPass(@userId)">Show Password</button>

						}*@
					@* <a  href="#" title="View Users" userid=""  class="text-black-50" onclick=""><i class="fas fa-eye"/></a>*@

				</div>

				<div class="col-md-8 ">
				</div>
				<div class="col-md-2 text-center">
					<div class="form-group">
						<button class="btn btn-primary float-right w-100" type="button" onclick="saveUser()">Save</button>
					</div>
				</div>
			</div>

			<div id="confirm-email-approval" class="modal fade" data-backdrop="static" data-keyboard="false">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Delete confirmation</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Are you sure you want to delete this beneficiary?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn  bglocalcolor border" data-dismiss="modal">Close</button>
							<div id="thisloader" class="smloader hide"></div>
							<button id="confirmdeletebtn" type="button" class="btn btn-danger">Proceed</button>
						</div>
					</div>
				</div>
			</div>


			<div class="modal fade" id="openPasswordView" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="passwordModalLabel">Password</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="input-group">
								<input type="text" id="inputPassword" class="form-control" readonly>
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button" id="changePassword">Change</button>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>



