@*@model CallCenter.Entities.Models.Case.GetCaseResp*@
@{
	var UserRights = ViewData["userrights"] as ProjectX.Entities.Models.Users.UserRights;
}


<link href="~/Content/assets/css/registercall.css" rel="stylesheet" asp-append-version="true" />
<style>
	a.disabled {
		background: #ffffff66 !important;
	}
</style>

<div class="content">
	<div class="row page-title">
		<div class="col-md-12">

			<h4 class="mb-0 mt-0 float-left">Reports:</h4>
		</div>
	</div>


</div>
<div class="content reportcontent">
	<div class="container-fluid" style="padding:10px 0; ">
		<div class="row ">
			<div id="calldiv" class="col-lg-12" style="min-height: 300px">
				<div class="card h-100 mb-0 pb-1 reportboxbackgrount">
					<div class="card-body card-body pb-0 pt-0">
						<div class="row" style="text-align:center">
							<div class="col-lg-12">
								<div class="row" style="text-align:center">
									<div class="col-lg-3 mb-3 pr-0 pl-0">
										<div class="list-group">
											<a href="@Url.Action("Production", "Report")" class="list-group-item list-group-item-action nocorner ">Production</a>
										</div>
									</div>

								</div>
								<div class="row" style="text-align:center">
									<div class="col-lg-3 mb-3 pr-0 pl-0">
										<div class="list-group">
											<a href="@Url.Action("Beneficiaries", "Report")" class="list-group-item list-group-item-action nocorner ">List Of Beneficiaries</a>
										</div>
									</div>

								</div>
								<div class="row" style="text-align:center">
									<div class="col-lg-3 mb-3 pr-0 pl-0">
										<div class="list-group">
											<a href="@Url.Action("Currencies", "Report")" class="list-group-item list-group-item-action nocorner ">Currencies</a>
										</div>
									</div>
								</div>

								@if (UserRights.Is_Admin == true)
								{
									<div class="row" style="text-align:center">
										<div class="col-lg-3 mb-3 pr-0 pl-0">
											<div class="list-group">
												<a href="@Url.Action("Benefits", "Report")" class="list-group-item list-group-item-action nocorner ">Benefits</a>
											</div>
										</div>
									</div>
									<div class="row" style="text-align:center">
										<div class="col-lg-3 mb-3 pr-0 pl-0">
											<div class="list-group">
												<a href="@Url.Action("Tariff", "Report")" class="list-group-item list-group-item-action nocorner ">Tariff</a>
											</div>
										</div>
									</div>
									<div class="row" style="text-align:center">
										<div class="col-lg-3 mb-3 pr-0 pl-0">
											<div class="list-group">
												<a href="@Url.Action("PrepaidAccounts", "Report")" class="list-group-item list-group-item-action nocorner ">Prepaid Accounts</a>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


