@model ProjectX.Entities.Models.Production.ProductionPolicy
@{
	var filldata = ViewData["filldata"] as ProjectX.Entities.Models.General.LoadDataResp;
	var productlist = ViewData["productlist"] as List<ProjectX.Entities.dbModels.TR_Product>;
	var zonelist = ViewData["zonelist"] as List<ProjectX.Entities.dbModels.TR_Zone>;
	var destinationlist = ViewData["destinationlist"] as List<ProjectX.Entities.dbModels.TR_Destinations>;

	var UserRights = ViewData["userrights"] as ProjectX.Entities.Models.Users.UserRights;
	var CreatedByUserRights = ViewData["CreatedByuserrights"] as ProjectX.Entities.Models.Users.UserRights;

	var canedit = ViewData["canedit"] as string;
	//canedit = "0";

	DateTime today = DateTime.Today;
	if (UserRights.Is_Admin == true)
	{
		today = new DateTime(1950, 1, 1);
	}
}

<div class="content editscreen prodadm" pgtype="view" pol-src="0" pol-ud="@Model.CreatedById"  pol-id="@Model.PolicyID" prodadm="@canedit" isadm="@(UserRights.Is_Admin==true?"1":"0")">
	<div class="container-fluid" style="padding:10px 0">
		<div class="row" data-select2-id="20">
			<div class="col-12">
				<div class="page-title">
					<h4 class="card-title ">
						<i class="fa fa-arrow-alt-circle-left pointercursor" onclick="history.back()"></i>
						<span>Edit Policy - @Model.Reference</span>
						<span class="cancelledtitle">@(Model.IsCanceled ? "Cancelled":"") </span>
						<span class="multiline-text">
							Created by: @Model.CreatedBy - @Model.CreatedOn
							@if (Model.IsCanceled)
							{
								<br /> <span class="text-danger font-weight-bold">Cancelled on:  @Model.CanceledOn</span>
							}
						</span>

					</h4>
				</div>
				<span class="text-warning"></span>
			</div>
			<div class="page-content w-100">
				<div class="row m-0">
					<div class="col-md-6 @(canedit =="0" ? "no-click":"")">
						<div class="card mt-2">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<h3>Product Information</h3>
											<hr>
											<div class="row">
												<div class="col-md-12 typeradio">
													<div class="row">
														<div class="col-md-4">
															<div class="we-checkbox">
																<input type="radio" id="is_individual" name="type" @(Model.IsIndividual ? "checked" : "")>

																<label for="is_individual">Individual</label>
																@*<i class="fa fa-question-circle" title="Individual"></i>*@
															</div>
														</div>
														<div class="col-md-4 family" style="">
															<div class="we-checkbox">
																<input type="radio" id="is_family" name="type" @(Model.IsFamily ? "checked" : "")>
																<label for="is_family">Family</label>
																@*<i class="fa fa-question-circle" title="Family"></i>*@
															</div>
														</div>
														<div class="col-md-4 group" style="">
															<div class="we-checkbox">
																<input type="radio" id="is_group" name="type" @(Model.IsGroup ? "checked" : "")>
																<label for="is_group">Group</label>
																@*<i class="fa fa-question-circle" title="Group"></i>*@
															</div>
														</div>
													</div>
												</div>

											</div>
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label for="product_id">Product <span class="text-danger">*</span></label>

														<select class="form-control isselect2 trgrthis" id="product_id" name="product_id">
															<option value="">Select Product</option>
															@foreach (var thislist in productlist)
															{
																if (thislist.PR_Id == Model.ProductID)
																{
																	<option value="@thislist.PR_Id" selected> @thislist.PR_Title</option>
																}
																else
																{
																	<option value="@thislist.PR_Id"> @thislist.PR_Title</option>
																}
															}
														</select>
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														<label for="zone_id">Zone <span class="text-danger">*</span></label>
														<select class="form-control isselect2 trgrthis" id="zone_id" name="zone_id">
															<option value="">Select Zone</option>
															@foreach (var thislist in zonelist)
															{
																if (thislist.Z_Id == Model.ZoneID)
																{
																	<option value="@thislist.Z_Id" selected> @thislist.Z_Title</option>
																}
																else
																{
																	<option value="@thislist.Z_Id"> @thislist.Z_Title</option>
																}
															}
														</select>
													</div>
												</div>
											</div>
											@*<div class="row">
													<div class="col-md-8">
														<div class="form-group">
															<label for="notes">Notes</label>
															<textarea class="form-control" rows="4" id="notes" name="notes"></textarea>
														</div>
													</div>
												</div>*@
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="card mt-2">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<h3 style="display: inline-block; vertical-align: middle;">Beneficiaries</h3>

											@if (canedit == "1")
											{
												<button class="btn btn-md btn-third btn-block text-left togglebenpopup">
													<i class="fa fa-plus" aria-hidden="true"></i> New
												</button>
											}
											<hr>
											<div class="row thisbeneficiary">
												<div class="col-md-12">
													@if (canedit == "1")
													{
														<div class="row">
															<div class="form-group col-md-6 mr-3">
																<div class="search-dropdown">
																	<input id="searchbeneficiary" name="beneficiary" type="text" class="form-control ui-autocomplete-input" placeholder="Search" autocomplete="off" data-gtm-form-interact-field-id="0">
																	<div id="searchDropdownContent" class="search-dropdown-content"></div>
																</div>
															</div>

														</div>
													}
													<div class="table-responsive">
														<table id="beneficiary-table" class="table table-sm table-bordered mt-3 beneficiary-table " style="width:100%; ">
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card mt-2">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<h3>Travel Info</h3><hr>

											<div class="form-group">
												<div class="row">
													<div class="col-md-12">
														<div class="row">
															<div class="form-group col-md-12">
																<label for="destination_id">Destination(s) </label>
																<select class="form-control isselect2 " id="destination_id" name="destination_id" multiple>
																	@*<option value="">Select Destinations</option>*@
																	@*@foreach (var thislist in filldata.loadedData.destinations.OrderBy(d => d.D_Destination).ToList())
																		{
																			if (Model.Destinations.Any(dest => dest.DestinationID == thislist.D_Id))
																			{
																				<option value="@thislist.D_Id" cid="@thislist.D_IdContinent" selected> @thislist.D_Destination</option>
																			}
																		}*@

																	@foreach (var thislist in destinationlist.OrderBy(d => d.D_Destination).ToList())
																	{
																		if (Model.Destinations.Any(dest => dest.DestinationID == thislist.D_Id))
																		{
																			<option value="@thislist.D_Id" cid="@thislist.D_IdContinent" selected> @thislist.D_Destination</option>
																		}
																		else
																		{
																			<option value="@thislist.D_Id"> @thislist.D_Destination</option>
																		}
																	}

																</select>
															</div>
														</div>
														<div class="row">
															<div class="form-group col-md-4">
																<label>Duration <span class="text-danger">*</span></label>
																<input type="number" step="1" min="1" id="duration" class="form-control trgrthis" name="duration" value="@Model.Duration">
															</div>
															<div class="form-group col-md-4">
																<label>From <span class="text-danger">*</span></label>
																<input type="date" id="from" class="form-control datepickermonth trgrthis" name="from" value="@Model.FromDate.ToString("yyyy-MM-dd")" min="@today.ToString("yyyy-MM-dd")">
															</div>
															<div class="form-group col-md-4">
																<label>To <span class="text-danger">*</span></label>
																<input type="date" id="to" class="form-control datepickermonth trgrthis" name="to" value="@Model.ToDate.ToString("yyyy-MM-dd")" min="@today.ToString("yyyy-MM-dd")">
															</div>


														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="col-md-6">
						<div class="card mt-2  sticky-top" style="top:90px;">
							<div class="card-header text-center">
								<h4>
									<span class="float-left ">
										Quotation
									</span>
									@if (UserRights.Is_Admin==true)
									{
										<button class="btn btn-primary btn-circle float-right" id="emailButton">
										 <i class="fas fa-envelope"></i>
									 </button>
									}
									
								</h4>
							</div>
							<div class="card-body result ">
								<div class="quotecontainer " cr="@Model.CurrencyRate.Rate" crs="@Model.CurrencyRate.CurrencySymbol">
									@if (Model.IsFamily)
									{
										<partial name="~/Views/partialviews/partialquotationlistedit-family.cshtml" model="@Model" />
									}
									else
									{
										<partial name="~/Views/partialviews/partialquotationlistedit.cshtml" model="@Model" />
									}
								</div>
								<div class="loadersize"><div id="quoteloader"></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="beneficiary-popup" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle"> Beneficiary</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body container-fluid">
				<div class="row">
					<div class="form-group col-md-4">
						<label>First Name <span class="text-danger">*</span></label>
						<input id="first_name" type="text" class="form-control first_name" name="first_name" autocomplete="off" required>
					</div>
					<div class="form-group col-md-4">
						<label>Middle Name</label>
						<input id="middle_name" type="text" class="form-control middle_name" name="middle_name" autocomplete="off">
					</div>
					<div class="form-group col-md-4">
						<label>Last Name <span class="text-danger">*</span></label>
						<input id="last_name" type="text" class="form-control last_name" name="last_name" autocomplete="off" required>
					</div>

					<div class="form-group col-md-4 passport_no_form">
						<label>Passport No. <span class="isrequired text-danger">*</span></label>
						<input id="passport_no" type="text" class="form-control passport_no" name="passport_no" autocomplete="off" required>
					</div>
					<div class="form-group col-md-4">
						<label>Date Of Birth <span class="text-danger">*</span> <span class="age"></span></label>
						<input type="date" class="form-control dob" name="date_of_birth" id="date_of_birth" autocomplete="off" required>
					</div>

					<div class="form-group col-md-4">
						<label for="nationality">
							Nationality <span class="text-danger">*</span>
						</label>
						<select class="form-control" id="nationality" name="nationality" required>
							<option value=""> </option>
							@foreach (var thislist in filldata.loadedData.destinations.OrderBy(d => d.D_Destination).ToList())
							{
								<option value="@thislist.D_Id"> @thislist.D_Destination</option>
							}
						</select>
					</div>
					<div class="form-group col-md-4">
						<label for="countryofresidence">
							Country of Residence <span class="text-danger">*</span>
						</label>
						<select class="form-control" id="countryofresidence" name="countryofresidence" required>
							<option value=""> </option>
							@foreach (var thislist in filldata.loadedData.destinations.OrderBy(d => d.D_Destination).ToList())
							{
								<option value="@thislist.D_Id"> @thislist.D_Destination</option>
							}
						</select>
					</div>
					<div class="col-md-3 mt-2">
						<div class="we-checkbox">
							<input type="radio" id="male" name="sgender" value="M" checked>
							<label for="male">Male</label>
						</div>
					</div>
					<div class="col-md-3 mt-2">
						<div class="we-checkbox">
							<input type="radio" id="female" name="sgender" value="F">
							<label for="female">Female</label>
						</div>
					</div>

				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn  bglocalcolor border" data-dismiss="modal">Close</button>
				<div id="thisloader" class="smloader hide"></div>
				<button type="button" class="btn btn-danger btn-beneficiary">Save</button>
			</div>
		</div>
	</div>
</div>

<div id="AsAgreed-popup" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle"> Print Policy</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body container-fluid asagreed">
				<button type="button" class="btn  bglocalcolor border" prttyp="1" data-dismiss="modal">Print with Premium</button>
				<button type="button" class="btn  bglocalcolor border" prttyp="2" data-dismiss="modal">Print “As Agreed”</button>
			</div>
		</div>
	</div>
</div>

@*<div id="email-popup" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle"> Send Policy</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body container-fluid asagreed">

				<button type="button" class="btn  bglocalcolor border" prttyp="1" data-dismiss="modal">Send</button>
			</div>
		</div>
	</div>
</div>*@
<div class="modal fade" id="email-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Send Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-1">
                    <label for="emailto">To</label>
                    <select id="emailto" class="form-control emailselection" multiple="multiple">
                    </select>


                </div>
                @*<div class="form-group mb-3 col-lg-4">
                        <label for="invoiceAmount">Invoice Amount</label>
                        <input type="text" class="form-control hasnumber" id="invoiceAmount" value="@Model.Case.InvoiceAmount" onfocusout="refreshNetAmount()" required />
                    </div>*@

                <div class="form-group mb-3">
                    <label for="emailcc">CC</label>
                    @*<span class="input-group-text">CC</span>*@
                    @*<input id="emailcc" type="text" class="form-control hasemail">*@
                    <select id="emailcc" class="form-control emailselection" multiple="multiple">
                    </select>
                </div>
              @*  <div class="input-group mb-3">
                    <span class="input-group-text">Subject</span>
                    <input id="emailsubject" type="text" class="form-control" required>
                </div>
                <div class="input-group mb-3">
                    <textarea id="emailbody" class="form-control" rows="4" required></textarea>
                </div>*@
              @*  <div class="input-group mb-4">

                    <input id="withAttachments" type="checkbox" class="form-check-input">

                    <label id="withAttachmentsLabel" for="withAttachments">With Attachments</label>
                </div>*@
				<div class="form-group mb-3">
        @*<label>Policy Attachment Type:</label>*@
        <div class="form-check">
            <input class="form-check-input" type="radio" name="attachmentType" id="withPremium" value="1" checked>
            <label class="form-check-label" for="withPremium">With Premium</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="attachmentType" id="asAgreed" value="2">
            <label class="form-check-label" for="asAgreed">As Agreed</label>
        </div>
    </div>
				
            </div>
            <div class="modal-footer">


                @*<label for="withAttachments">With Attachments</label>*@
                <button type="button" class="btn  bglocalcolor border" data-dismiss="modal">Close</button>
                <div id="thisloader" class="smloader hide"></div>
                <button id="btnsendrequestemail" IdAction="3" type="button" class="btn btn-danger">Send</button>
            </div>
        </div>
    </div>
</div>