@model ProjectX.Entities.Models.General.LoadDataResp

<div class="content">
	<!-- Start Content-->
	<div class="row page-title">
		
		<div class="col-md-11">
			<h4 class="mb-0 mt-0 float-left mr-4">Benefits</h4>
			<a class="btn bglocalcolor float-left addnewbtn text-white m-0" data-toggle="modal" data-target="#import-benefits-file" style="width:150px" onclick="showImportModel()">
				<i class="fas fa-plus-circle"></i> Import Benefits
			</a>
		</div>
		<div class="col-md-1">
			<a class="btn bglocalcolor float-right addnewbtn" href="~/benefit/create/">
				<i class="fas fa-plus-circle"></i> Add
			</a>
		</div>



	</div>
	<div class="container-fluid " style="padding:10px 0">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div id="searchform" class="card-body">
						<div>
							<div class="row mb-6">
								<div class="col-lg-3 mb-lg-0 mb-6">
									<label for="title">Title:</label>
									<input id="title" type="text" class="form-control datatable-input" placeholder="Enter Title" data-col-index="1">
								</div>
								<div class="col-lg-3 mb-lg-0 mb-6">
									<label for="limit">Limit:</label>
									<input id="limit" type="number" step="0.01" class="form-control datatable-input" placeholder="Enter Limit" data-col-index="2">
								</div>
								<div class="col-lg-3 mb-lg-0 mb-6">
									<label for="packageId">Package:</label>
									<select class="form-control isselect2" id="packageId" name="packageId" >
										<option value="">Select Package</option>
										@foreach (var thislist in Model.loadedData.packages)
										{
											<option value="@thislist.LK_ID">@thislist.LK_ID -- @thislist.LK_TableField</option>
										}

									</select>
								</div>
								<div class="col-lg-3">
									<div class="row mt-4 pt-1">
										<div class="col-sm-6">
											<button class="btn bglocalcolor" id="search" style="width:100%">
												<span>
													<i class="la la-search"></i>
													<span>Search</span>
												</span>
											</button>&nbsp;&nbsp;
										</div>
										<div class="col-sm-6">
											<button class="btn btn-info resetdiv" id="kt_reset" style="width:100%">
												<span>
													<i class="la la-close"></i>
													<span>Reset</span>
												</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row tablediv">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<table id="benefittable" class="table dt-responsive nowrap table compact table-hover table-flush table-striped table-bordered" style="width:100%; ">
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="confirm-email-approval" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Delete confirmation</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Are you sure you want to delete this record?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn  bglocalcolor border" data-dismiss="modal">Close</button>
				<div id="thisloader" class="smloader hide"></div>
				<button id="confirmdeletebtn" type="button" class="btn btn-danger">Proceed</button>
			</div>
		</div>
	</div>
</div>
@*<script src="~/countryflags/js/intlTelInput.js"></script>
	<script src="~/Content/assets/js/profile.js" asp-append-version="true"></script>*@
<div id="import-benefits-file" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Import Benefits</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				@*Select tariff file for importing:
					<button id="browseTariff" type="button" class="btn btn-danger" onclick="browseForTariff()">Browse</button>*@
				@*@if (!string.IsNullOrEmpty(ViewBag.Message))
				{
					<div class="alert alert-info">@ViewBag.Message</div>
				}*@
				<div class="row">
					<div class="col-lg-12 mb-lg-0 mb-6">
						<label for="taridPackage">Package:</label>
						<select class="form-control isselect2" id="packageid" name="packageid" required>
							<option value="">Select Package</option>
							@foreach (var thislist in Model.loadedData.packages)
							{
								<option value="@thislist.LK_ID"> @thislist.LK_TableField</option>
							}

						</select>
					</div>
				@*	<div class="col-lg-12 mb-lg-0 mb-6 pt-2">
						<label for="taridPlan">Title:</label>
						<select class="form-control isselect2" id="titleid" name="titleid" required>
							<option value="">Select Title</option>
							@foreach (var thislist in Model.loadedData.benefitTitle)
							{
								<option value="@thislist.LK_ID"> @thislist.LK_TableField</option>
							}

						</select>
					</div>*@
				</div>

				@using (Html.BeginForm("Upload", "Excel", FormMethod.Post, new { enctype = "multipart/form-data" }))
				{
					<div class="form-group  pt-2">
						<label for="file">Select Excel File:</label>
						<input type="file" name="file" id="file" accept=".xlsx, .xls" class="form-control-file file-upload" required />
					</div>
				}


			</div>
			<div class="modal-footer">
				<a id="downloadLink" class="btn  bglocalcolor border mr-auto pt-1" href="/Samplefile/benefits.xlsx" download>Sample File</a>


				<button type="button" class="btn  bglocalcolor border" data-dismiss="modal">Close</button>
				@*<button id="importFile" type="button" class="btn btn-danger">Import</button>*@
				<div id="thisloader" class="smloader hide"></div>

				<button id="importupload" type="button" class="btn btn-primary btn-block bglocalcolor" style="width:120px">
					<span>
						Import Benefits
					</span>
				</button>
				@*<div id="thisloader" class="smloader hide"></div>
					<input type="file" class="file-upload" style="display: none" multiple />*@

			</div>
		</div>
	</div>
</div>