@model string
@{
	//var user = ViewData["User"] as ProjectX.Entities.dbModels.User;
	//var Avayacallinfo = ViewData["Avayacallinfo"] as ProjectX.Entities.Models.Avaya.AvayaCallReq;

	var currentUser = Context.Items["User"] as ProjectX.Entities.dbModels.TR_Users; // Replace "User" with your user model
	string username = ViewData["username"] as string;
	var isadmin = currentUser.U_Is_Admin;

	string screentype = "home";
	screentype = ViewBag.screentype;

	var caseid = ViewBag.caseid;
	var isBlackLited = ViewBag.isBlackListed;

	var controllerName = this.ViewContext.RouteData.Values["controller"].ToString().ToLower();
	var actionName = this.ViewContext.RouteData.Values["action"].ToString().ToLower();

}


<aside id="sidebar" class="sidebar break-point-sm has-bg-image">

	<a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
	<div class="image-wrapper">
		<!-- <img src="assets/images/sidebar-bg.jpg" alt="sidebar background"> -->
	</div>
	<div class="sidebar-layout">
		<div class="sidebar-header">
			@if (currentUser.U_Is_Admin == true)
			{
				<div class="pro-sidebar-logo pt-4">
					<img class="adminlogo" />
					@*<img src="Content/assets/images/copeicon.png" alt="Alternate Text" style="width:50px;height:50px" />
					<img src="/Content/assets/images/copelogo.png" alt="Alternate Text" />*@
				</div>
			}
			else
			{
				<div class="pro-sidebar-logo logo-container">
					@if (currentUser.U_Logo == null || currentUser.U_Logo == "")
					{
						<img class="complogo" src="~/Content/assets/images/userlogo.png" alt="Cope Logo">
					}
					else
					{
						<img class="complogo" src="\Files\@currentUser.U_Id\Logo\@currentUser.U_Logo" alt="Cope Logo">
					}
				</div>
			}

		</div>
		<div class="sidebar-content">
			<nav class="menu open-current-submenu">
				<ul>
					<li class="menu-item sub-menu">
						<a>
							<span class="menu-icon">
								<i class="fa fa-file-alt"></i>

							</span>
							<span class="menu-title">Policies</span>

						</a>
						<div class="sub-menu-list" data-popper-placement="left" style="position: fixed; left: 0px; top: 0px; margin: 0px; visibility: hidden; transform: translate3d(0px, 221.6px, 0px); box-sizing: border-box; display: none;" data-popper-escaped="">
							<ul>
								<li class="menu-item @((controllerName == "production" && actionName == "index") ? "active" : "") ">
									<a href="~/production/">
										<span class="menu-title">Production</span>
									</a>
								</li>
								<li class="menu-item @(controllerName == "production" && actionName == "create" ? "active" : "")">
									<a href="~/production/create">
										<span class="menu-title">Creation</span>
									</a>
								</li>
								<li class="menu-item @(controllerName == "productionbatch" && actionName == "index" ? "active" : "")">
									<a href="~/productionbatch/">
										<span class="menu-title">Manual Production</span>
									</a>
								</li>
							</ul>
						</div>
					</li>


					@if (isadmin == true)
					{
						<li class="menu-item sub-menu">
							<a>
								<span class="menu-icon">
									<i class="ri-tools-line"></i>
								</span>
								<span class="menu-title">Configurations</span>
							</a>
							<div class="sub-menu-list" data-popper-placement="left" style="position: fixed; left: 0px; top: 0px; margin: 0px; visibility: hidden; transform: translate3d(0px, 221.6px, 0px); box-sizing: border-box; display: none;" data-popper-escaped="">
								<ul>
									<li class="menu-item @(controllerName == "product" ? "active" : "") ">
										<a href="~/product/">
											<span class="menu-title">Products</span>
										</a>
									</li>
									<li class="menu-item @(controllerName == "plan" ? "active" : "")">
										<a href="~/plan/">
											<span class="menu-title">Plans</span>
										</a>
									</li>
									<li class="menu-item @(controllerName == "zone" ? "active" : "")">
										<a href="~/zone/">
											<span class="menu-title">Zones</span>
										</a>
									</li>
									<li class="menu-item @(controllerName == "package" ? "active" : "")">
										<a href="~/package/">
											<span class="menu-title">Packages</span>
										</a>
									</li>
									<li class="menu-item @(controllerName == "tariff" ? "active" : "")">
										<a href="~/tariff/">
											<span class="menu-title">Tariffs</span>
										</a>
									</li>
									<li class="menu-item @(controllerName == "benefit" ? "active" : "")">
										<a href="~/benefit/">
											<span class="menu-title">Benefits</span>
										</a>
									</li>

									<li class="menu-item @(controllerName == "benefittitle" ? "active" : "")">
										<a href="~/benefittitle/">

											<span class="menu-title">Benefit Title</span>
										</a>
									</li>
									@*<li class="menu-item @(controllerName == "currencyrate" ? "active" : "")">
										<a href="~/currencyrate/">
											<span class="menu-title">Currency Rates</span>
										</a>

									</li>*@
								</ul>
							</div>
						</li>
					}

					@if (isadmin == true || currentUser.U_Agents_Creation == true || currentUser.U_Agents_View == true)
					{
						<li class="menu-item @(controllerName == "users" ? "active" : "")">
							<a href="~/Users/">
								<span class="menu-icon">
									<i class="fa fa-users text-gray"></i>
								</span>
								<span class="menu-title">Users</span>
							</a>

						</li>
					}
					<li class="menu-item @(controllerName == "beneficiary" ? "active" : "")">
						<a href="~/beneficiary/">
							<span class="menu-icon">
								<i class="ri-user-2-fill"></i>
							</span>
							<span class="menu-title">Beneficiaries</span>
						</a>

					</li>
					@*<li class="menu-item @(controllerName == "report" ? "active" : "")">
						<a>
							<span class="menu-icon">
								<i class="ri-bar-chart-2-fill"></i>
							</span>
							<span class="menu-title">Reports</span>
						</a>

					</li>*@
					@if (isadmin == true)
					{

						<li class="menu-item @(controllerName == "currencyrate" ? "active" : "")">
							<a href="~/currencyrate/">
								<span class="menu-icon">
									<i class="fa fa-university text-gray"></i>
								</span>
								<span class="menu-title">Currency Rates</span>
							</a>

						</li>
					}
					@*<li class="menu-item @(controllerName == "benefittitle" ? "active" : "")">
						<a href="~/benefittitle/">
							<span class="menu-icon">
								<i class="fa fa-university text-gray"></i>
							</span>
							<span class="menu-title">Benefit Title</span>
						</a>

					</li>*@
					<li class="menu-item @(controllerName == "report" ? "active" : "")">
						<a href="~/report/">
							<span class="menu-icon">
								<i class="ri-bar-chart-2-fill"></i>
							</span>
							<span class="menu-title">Reports</span>
						</a>

					</li>
					@*<li class="menu-item @(controllerName == "policies" ? "active" : "")">
						<a>
							<span class="menu-icon">
								<i class="fa fa-file"></i>
							</span>
							<span class="menu-title">Policies</span>
						</a>
					</li>*@
				</ul>
			</nav>
		</div>

		@if (currentUser.U_Is_Admin == false || currentUser.U_Is_Admin is null)
		{
			<div class="sidebar-header sidebar-bottom pb-2">
				<div class="pro-sidebar-logo" style="display:inline-block">
					<img class="adminlogo" src="/Content/assets/images/copelogo.png" />
				</div>
			</div>
		}
	</div>
</aside>
