@model string
@{
	var user = ViewData["User"] as ProjectX.Entities.dbModels.User;
	//var Avayacallinfo = ViewData["Avayacallinfo"] as ProjectX.Entities.Models.Avaya.AvayaCallReq;

	var currentUser = Context.Items["User"] as ProjectX.Entities.dbModels.TR_Users; // Replace "User" with your user model
	string username = ViewData["username"] as string;
	var isadmin = currentUser.U_Is_Admin;

	string screentype = "home";
	screentype = ViewBag.screentype;

	var caseid = ViewBag.caseid;
	var isBlackLited = ViewBag.isBlackListed;

	var controllerName = this.ViewContext.RouteData.Values["controller"].ToString().ToLower();
	var actionName = this.ViewContext.RouteData.Values["action"].ToString().ToLower();

}

@*<div class="topnav">
		<a id="btn-toggle"  class="sidebar-toggler break-point-sm">
			<i class="ri-menu-line ri-xl"></i>
		</a>

		<ul class="navbar-nav flex-row ml-auto d-flex list-unstyled topnav-menu float-right mb-0">

			<li id="avayalist" class="dropdown notification-list" data-toggle="tooltip" data-placement="left">
				<a id="btnavaya" class="nav-link " title="Avaya Call" data-toggle="dropdown"  role="button" aria-haspopup="false" onclick="showavayapopup()" aria-expanded="false">
					<i class="fas fas fa-phone "></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-lg" style="">
					<div class="dropdown-item noti-title border-bottom">
						<h5 class="m-0 font-size-16">
							Unregistered Calls
							<i class="fas fa-sync-alt float-right pointercursor rotate" ></i>
						</h5>
					</div>
					<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 19231.7px;">
						<div id="unregisteredcalls" class="slimscroll noti-scroll" style="overflow: hidden; width: auto; height: 19231.7px;">

							<style>
								.blacklistbackgroud {
									background: #d01b1b !important;
								}

									.blacklistbackgroud span, .blacklistbackgroud small {
										background: #d01b1b !important;
										color: white !important;
									}

									.blacklistbackgroud:hover {
										background: #d01b1b !important;
									}
							</style>
							<a href="javascript:void(0);" class="dropdown-item notify-item border-bottom pb-0 pt-1 thiscallselect " onclick="setactiveavayacall(this)">
								<div class="notify-icon  mt-2"> <img src="/callcenter/Content/assets/images/outgoing-call.png" width="42"></div>



								<p class="notify-details">
									<span class="selectname">Caller 704 &nbsp;</span>
									<i class="fas fa-check-circle float-right flagselected" style="font-size: 24px;color:green" hidden=""></i>
									<span class="selectnumber" cid="2712950" bakcid="2712950" isblacklisted="False">03258558</span>
									<small class="text-muted selectdate">05/21/2023 10:40:09</small>
								</p>
							</a>


						</div>
						<div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
					</div>
				</div>
			</li>
		</ul>
	</div>*@
<aside id="sidebar" class="sidebar break-point-sm has-bg-image">

	<a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
	<div class="image-wrapper">
		<!-- <img src="assets/images/sidebar-bg.jpg" alt="sidebar background"> -->
	</div>
	<div class="sidebar-layout">
		<div class="sidebar-header">
			<div class="pro-sidebar-logo logo-container">

				@if (currentUser.U_Logo == null || currentUser.U_Logo == "")
				{
					<img class="complogo" src="~/Content/assets/images/userlogo.png" alt="Cope Logo">
				}
				else
				{
					<img class="complogo" src="\Files\@currentUser.U_Id\Logo\@currentUser.U_Logo" alt="Cope Logo">
				}
				@*<div>C</div>*@
				@*<h5>Cope</h5>*@
			</div>
		</div>
		<div class="sidebar-content">
			<nav class="menu open-current-submenu">
				<ul>
					<li class="menu-item sub-menu">
						<a>
							<span class="menu-icon">
								<i class="fa fa-file"></i>
							</span>
							<span class="menu-title">Policies</span>

						</a>
						<div class="sub-menu-list" data-popper-placement="left" style="position: fixed; left: 0px; top: 0px; margin: 0px; visibility: hidden; transform: translate3d(0px, 221.6px, 0px); box-sizing: border-box; display: none;" data-popper-escaped="">
							<ul>
								<li class="menu-item @((controllerName == "production" && actionName == "index") ? "active" : "") ">
									<a href="~/production/">
										<span class="menu-title">Production</span>
									</a>
								</li>
								<li class="menu-item @(controllerName == "production" && actionName == "create" ? "active" : "")">
									<a href="~/production/create">
										<span class="menu-title">Creation</span>
									</a>
								</li>

							</ul>
						</div>
					</li>


					@if (isadmin == true)
					{
						<li class="menu-item sub-menu">
							<a>
								<span class="menu-icon">
									<i class="ri-tools-line"></i>
								</span>
								<span class="menu-title">Configurations</span>
							</a>
							<div class="sub-menu-list" data-popper-placement="left" style="position: fixed; left: 0px; top: 0px; margin: 0px; visibility: hidden; transform: translate3d(0px, 221.6px, 0px); box-sizing: border-box; display: none;" data-popper-escaped="">
								<ul>
									<li class="menu-item @(controllerName == "product" ? "active" : "") ">
										<a href="~/product/">
											<span class="menu-title">Products</span>
										</a>
									</li>
									<li class="menu-item @(controllerName == "plan" ? "active" : "")">
										<a href="~/plan/">
											<span class="menu-title">Plans</span>
										</a>
									</li>
									<li class="menu-item @(controllerName == "zone" ? "active" : "")">
										<a href="~/zone/">
											<span class="menu-title">Zones</span>
										</a>
									</li>
									<li class="menu-item @(controllerName == "package" ? "active" : "")">
										<a href="~/package/">
											<span class="menu-title">Packages</span>
										</a>
									</li>
									<li class="menu-item @(controllerName == "tariff" ? "active" : "")">
										<a href="~/tariff/">
											<span class="menu-title">Tariffs</span>
										</a>
									</li>
									<li class="menu-item @(controllerName == "benefit" ? "active" : "")">
										<a href="~/benefit/">
											<span class="menu-title">Benefits</span>
										</a>
									</li>

									<li class="menu-item @(controllerName == "benefittitle" ? "active" : "")">
										<a href="~/benefittitle/">

											<span class="menu-title">Benefit Title</span>
										</a>
									</li>
									@*<li class="menu-item @(controllerName == "currencyrate" ? "active" : "")">
											<a href="~/currencyrate/">
												<span class="menu-title">Currency Rates</span>
											</a>

										</li>*@
								</ul>
							</div>
						</li>
					}

					@if (isadmin == true || currentUser.U_Agents_Creation == true)
					{
						<li class="menu-item @(controllerName == "users" ? "active" : "")">
							<a href="~/Users/">
								<span class="menu-icon">
									<i class="fa fa-users text-gray"></i>
								</span>
								<span class="menu-title">Users</span>
							</a>

						</li>
					}
					<li class="menu-item @(controllerName == "beneficiary" ? "active" : "")">
						<a href="~/beneficiary/">
							<span class="menu-icon">
								<i class="ri-user-2-fill"></i>
							</span>
							<span class="menu-title">Beneficiaries</span>
						</a>

					</li>
					@*<li class="menu-item @(controllerName == "report" ? "active" : "")">
							<a>
								<span class="menu-icon">
									<i class="ri-bar-chart-2-fill"></i>
								</span>
								<span class="menu-title">Reports</span>
							</a>

						</li>*@
					@if (isadmin == true)
					{

						<li class="menu-item @(controllerName == "currencyrate" ? "active" : "")">
							<a href="~/currencyrate/">
								<span class="menu-icon">
									<i class="fa fa-university text-gray"></i>
								</span>
								<span class="menu-title">Currency Rates</span>
							</a>

						</li>
					}
					@*<li class="menu-item @(controllerName == "benefittitle" ? "active" : "")">
							<a href="~/benefittitle/">
								<span class="menu-icon">
									<i class="fa fa-university text-gray"></i>
								</span>
								<span class="menu-title">Benefit Title</span>
							</a>

						</li>*@
					<li class="menu-item @(controllerName == "report" ? "active" : "")">
						<a href="~/report/">
							<span class="menu-icon">
								<i class="ri-bar-chart-2-fill"></i>
							</span>
							<span class="menu-title">Reports</span>
						</a>

					</li>
					@*<li class="menu-item @(controllerName == "policies" ? "active" : "")">
							<a>
								<span class="menu-icon">
									<i class="fa fa-file"></i>
								</span>
								<span class="menu-title">Policies</span>
							</a>
						</li>*@
				</ul>
			</nav>
		</div>
		<div class="sidebar-header sidebar-bottom">
			<div class="pro-sidebar-logo" style="display:inline-block">
				<div style="width:100px">Cope</div>
			</div>
		</div>
	</div>
</aside>















































<!--<ul>-->
<!-- <li class="menu-header"><span> GENERAL </span></li> -->
<!--<li class="menu-item sub-menu">
	<a >
		<span class="menu-icon">
			<i class="ri-vip-diamond-fill"></i>
		</span>
		<span class="menu-title">Components</span>-->
<!-- <span class="menu-suffix"> -->
<!-- <span class="badge primary">Hot</span> -->
<!-- </span> -->
<!--</a>
	<div class="sub-menu-list" data-popper-placement="left" data-popper-escaped="" style="position: fixed; left: 0px; top: 0px; margin: 0px; visibility: hidden; transform: translate3d(0px, 172px, 0px); display: none;">
		<ul>
			<li class="menu-item">
				<a >
					<span class="menu-title">Grid</span>
				</a>
			</li>
			<li class="menu-item">
				<a >
					<span class="menu-title">Layout</span>
				</a>
			</li>
			<li class="menu-item sub-menu">
				<a >
					<span class="menu-title">Forms</span>
				</a>
				<div class="sub-menu-list">
					<ul>
						<li class="menu-item">
							<a >
								<span class="menu-title">Input</span>
							</a>
						</li>
						<li class="menu-item">
							<a >
								<span class="menu-title">Select</span>
							</a>
						</li>
						<li class="menu-item sub-menu">
							<a >
								<span class="menu-title">More</span>
							</a>
							<div class="sub-menu-list">
								<ul>
									<li class="menu-item">
										<a >
											<span class="menu-title">CheckBox</span>
										</a>
									</li>
									<li class="menu-item">
										<a >
											<span class="menu-title">Radio</span>
										</a>
									</li>
									<li class="menu-item sub-menu">
										<a >
											<span class="menu-title">Want more ?</span>
											<span class="menu-suffix">🤔</span>
										</a>
										<div class="sub-menu-list">
											<ul>
												<li class="menu-item">
													<a >
														<span class="menu-prefix">🎉</span>
														<span class="menu-title">You made it </span>
													</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</li>
<li class="menu-item sub-menu">
	<a >
		<span class="menu-icon">
			<i class="ri-bar-chart-2-fill"></i>
		</span>
		<span class="menu-title">Charts</span>
	</a>
	<div class="sub-menu-list" data-popper-placement="left" style="position: fixed; left: 0px; top: 0px; margin: 0px; visibility: hidden; transform: translate3d(0px, 221.6px, 0px); box-sizing: border-box; display: none;" data-popper-escaped="">
		<ul>
			<li class="menu-item">
				<a >
					<span class="menu-title">Pie chart</span>
				</a>
			</li>
			<li class="menu-item">
				<a >
					<span class="menu-title">Line chart</span>
				</a>
			</li>
			<li class="menu-item">
				<a >
					<span class="menu-title">Bar chart</span>
				</a>
			</li>
		</ul>
	</div>
</li>
<li class="menu-item sub-menu">
	<a >
		<span class="menu-icon">
			<i class="ri-shopping-cart-fill"></i>
		</span>
		<span class="menu-title">E-commerce</span>
	</a>
	<div class="sub-menu-list" data-popper-placement="left" data-popper-escaped="" style="position: fixed; left: 0px; top: 0px; margin: 0px; visibility: hidden; transform: translate3d(0px, 272px, 0px); display: none;">
		<ul>
			<li class="menu-item">
				<a >
					<span class="menu-title">Products</span>
				</a>
			</li>
			<li class="menu-item">
				<a >
					<span class="menu-title">Orders</span>
				</a>
			</li>
			<li class="menu-item">
				<a >
					<span class="menu-title">credit card</span>
				</a>
			</li>
		</ul>
	</div>
</li>
<li class="menu-item sub-menu">
	<a >
		<span class="menu-icon">
			<i class="ri-global-fill"></i>
		</span>
		<span class="menu-title">Maps</span>
	</a>
	<div class="sub-menu-list" data-popper-placement="left" data-popper-escaped="" style="position: fixed; left: 0px; top: 0px; margin: 0px; visibility: hidden; transform: translate3d(0px, 321.6px, 0px); display: none;">
		<ul>
			<li class="menu-item">
				<a >
					<span class="menu-title">Google maps</span>
				</a>
			</li>
			<li class="menu-item">
				<a >
					<span class="menu-title">Open street map</span>
				</a>
			</li>
		</ul>
	</div>
</li>
<li class="menu-item sub-menu">
	<a >
		<span class="menu-icon">
			<i class="ri-paint-brush-fill"></i>
		</span>
		<span class="menu-title">Theme</span>
	</a>
	<div class="sub-menu-list" data-popper-placement="left" data-popper-escaped="" style="position: fixed; left: 0px; top: 0px; margin: 0px; visibility: hidden; transform: translate3d(0px, 372px, 0px); display: none;">
		<ul>
			<li class="menu-item">
				<a >
					<span class="menu-title">Dark</span>
				</a>
			</li>
			<li class="menu-item">
				<a >
					<span class="menu-title">Light</span>
				</a>
			</li>
		</ul>
	</div>
</li>-->
<!-- <li class="menu-header" style="padding-top: 20px"><span> EXTRA </span></li> -->
<!-- <li class="menu-item"> -->
<!-- <a > -->
<!-- <span class="menu-icon"> -->
<!-- <i class="ri-book-2-fill"></i> -->
<!-- </span> -->
<!-- <span class="menu-title">Documentation</span> -->
<!-- <span class="menu-suffix"> -->
<!-- <span class="badge secondary">Beta</span> -->
<!-- </span> -->
<!-- </a> -->
<!-- </li> -->
<!-- <li class="menu-item"> -->
<!-- <a > -->
<!-- <span class="menu-icon"> -->
<!-- <i class="ri-calendar-fill"></i> -->
<!-- </span> -->
<!-- <span class="menu-title">Calendar</span> -->
<!-- </a> -->
<!-- </li> -->
<!-- <li class="menu-item">
  <a >
	<span class="menu-icon">
	  <i class="ri-service-fill"></i>
	</span>
	<span class="menu-title">Examples</span>
  </a>
</li>-->
<!--</ul>-->