@model ProjectX.Entities.Models.Production.ProductionPolicy
@{
	Layout = null;
	int bencount = 1;
}
<!DOCTYPE html>
<html>
<head>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0px;
			padding: 0px;
			/*padding-top: 80px;*/
			/*border:2px solid red;*/
			/*margin: 5px;*/
		}

		.underlined {
			display: inline-block;
			border-bottom: 1px solid;
			margin-bottom: 3px;
		}

		.underlined-heading {
			/*display: inline-block;*/
			border-bottom: 1px solid;
			margin-bottom: 3px;
		}

			.underlined-heading span {
				font-size: 16px;
				float: right
			}



		h1.mainheader {
			text-align: center;
		}

		h2 {
			margin-bottom: 5px;
		}

		table {
			border-collapse: collapse;
			width: 100%;
			margin-bottom: 20px;
			/*border: 0px solid #dddddd;*/
		}

		th, td {
			/*border: 0px solid #dddddd;*/
			padding: 4px;
			text-align: left;
		}

			td, td label {
				font-size: 15px
			}


		p {
			margin-bottom: 20px;
		}

		.clearfix::after {
			content: "";
			display: table;
			clear: both;
		}

		.headertitle span {
			font-weight: bold;
		}

		.headertitle label {
			font-weight: 400;
		}


		.container {
			padding-left: 10px;
			padding-right: 10px;
			background-color: white;
			min-height: 1230px;
			height: 1230px;
			max-height: 1230px;
			margin-left: 50px;
			margin-right: 50px;
			border: 2px solid transparent;
			background: transparent;
			padding-top: 110px;
		}

		.box-container {
			display: flex;
			justify-content: space-between;
			margin-top: 20px;
		}



		body, html {
			height: 100%;
			margin: 0;
			padding: 0;
		}

		.page {
			position: relative;
			height: 100vh;
			margin: 0;
		}

		.background-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-size: cover;
			background-position: center;
		}

			.background-image img {
				height: 1400px;
			}
	</style>
</head>
<body>
	<div class="page">
		<div class="background-image">
			<img src="data:image/jpeg;base64,@Model.Layout" alt="Header" />
		</div>

		<div class="container">
			<div class="headertitle">
				<div style="width: 33.33%; float: left;">
					&nbsp;
				</div>
				<div style="width: 33.33%; float: left; text-align:center">
					<span>
						Policy N.: <label id="policyNumber">@Model.Reference</label>
					</span>
				</div>
				<div style="width: 33.33%; float: left;">

				</div>
				<div style="clear: both;"></div>
			</div>

			<h2 class="underlined-heading">Beneficiary: <span>Total # of Clients: @Model.PolicyDetails.Count()</span></h2>
			<table>
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Middle Name</th>
						<th>Last Name</th>
						<th>Date of Birth</th>
						<th>Age</th>
						<th>Country</th>
						<th>Passport N.</th>
						@if (Model.IsGroup)
						{
							<th>Sports</th>
							<th>Deductbile</th>
						}
					</tr>
				</thead>
				<tbody>
					@{
						int count = 1;
						foreach (var beneficiary in Model.PolicyDetails)
						{
							<tr>
								<td>@count</td>
								<td>@beneficiary.FirstName</td>
								<td>@beneficiary.MiddleName</td>
								<td>@beneficiary.LastName</td>
								<td>@beneficiary.DateOfBirth.ToString("dd-MM-yyyy")</td>
								<td>@beneficiary.Age</td>
								<td>@beneficiary.CountryResidence</td>
								<td>@beneficiary.PassportNo</td>
								@if (Model.IsGroup)
								{
									<td>@(beneficiary.SportsActivities ? "Included":"Not Included")</td>
									<td>@(beneficiary.Deductible ? "Included":"Not Included")</td>
								}
							</tr>
							count++;
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
