@model ProjectX.Entities.Models.Production.ProductionResp
@{
	Layout = null;
	var UserRights = ViewData["userrights"] as ProjectX.Entities.Models.Users.UserRights;

	var hidepremium = "";
	if (UserRights.Hide_Premium_Info == true)
		hidepremium = "hidden";

	var shownet = "";
	if (UserRights.Preview_Net == false)
		shownet = "hidden";

	var previewtotalonly = "";
	if (UserRights.Preview_Total_Only == true)
		previewtotalonly = "hidden";
}


<div class="Quotationcard card mt-2 mb-0">
	<div class="card-body" style="font-size:13px">
		<div>
			<b>Destination(s)</b>
			<span class="float-end dest">@Model.QuotationResp.First().ZoneName</span>
		</div>
		<div>
			<b>Inception Date</b>
			<span class="float-end incdate">@Model.QuotationResp.First().TariffStartingDate.ToString("dd-MM-yyyy")</span>
		</div>
		<div>
			<b>Expiry Date</b>
			<span class="float-end expdate">@Model.QuotationResp.First().TariffStartingDate.ToString("dd-MM-yyyy")</span>
		</div>
		<div>
			<b>Duration</b>
			<span class="float-end duration">@Model.QuotationResp.First().Duration Days</span>
		</div>
		<div>
			<span class="float-end total_price" data-currency="USD"></span>
		</div>



		<div class="my-3 mb-1">
			@foreach (var item in Model.QuotationResp.Where(x => x.RowId == 1))
			{
				<table class="table table-bordered mt-3 quoatetable insured@(item.Insured)" ins="@item.InsuredId" thisrow="@item.Insured">
					<tbody>
						<tr class="card-header">
							<td>Full Name </td>
							<td colspan="2">@item.Fullname</td>
						</tr>
						<tr>
							<td>Plan</td>
							<td colspan="2">
								<select class="form-control plans">
									@foreach (var thislist in Model.QuotationResp.Where(x => x.Insured == item.Insured))
									{
										@*<option value="@thislist.Plan" data-bprice="@thislist.PriceAmount" data-fprice="@thislist.PriceAmount" data-price0="@thislist.PriceAmount" data-deductible="@thislist.PriceAmount">
										@thislist.PlanName
									</option>*@

										<option value="@thislist.Plan" data-plan="@thislist.Plan"
												data-price="@thislist.PriceAmount"
												data-deductible="@thislist.DeductibleFee"
												data-insured="@thislist.Insured"
												data-age="@thislist.Age"
												data-product="@thislist.Product"
												data-package="@thislist.Package"
												data-duration="@thislist.Duration"
												data-tariffid="@thislist.TariffID"
												data-numberofdays="@thislist.NumberOfDays"
												data-netpremiumamount="@thislist.NetPremiumAmount"
												data-paamount="@thislist.PAAmount"
												data-overrideamount="@thislist.OverrideAmount"
												data-deductiblefee="@thislist.DeductibleFee"
												data-sportactivitiesfee="@thislist.SportAcitiviesFee">
											@thislist.PlanName
										</option>
									}
								</select>
							</td>
						</tr>
						<tr class="@((Model.AdditionalBenefits != null && Model.AdditionalBenefits.Count > 0) ? "" : "hidden")">
							<td>Additional Benefits</td>
							<td colspan="2">
								<select class="form-control isselect2 benplus" multiple>
									@if (Model.AdditionalBenefits != null)
										@foreach (var thislist in Model.AdditionalBenefits.Where(x => x.P_Id == item.Package && x.TariffId == item.TariffID))
										{
											<option data-benprice="@thislist.B_Benfees" value="@thislist.B_Id">
												@thislist.B_Title: @thislist.B_Benfees USD
											</option>
										}

								</select>
							</td>
						</tr>
						<tr>
							<td>
								Remove Deductible <br /> (USD <span data-dedprice="@item.DeductibleFee">@item.DeductibleFee</span>)
								<input type="checkbox" name="name" data-dedprice="@item.DeductibleFee" class="ml-2" />
							</td>
							<td>
								Add Sports Activities <br /> (USD <span data-sportsprice="@item.SportAcitiviesFee">@item.SportAcitiviesFee</span>)
								<input type="checkbox" name="name" data-sportsprice="@item.SportAcitiviesFee" class="ml-2" />
							</td>
							<td>
								Price (USD)	<br />
								<span class="planprice" data-bprice="@item.PriceAmount"> @item.PriceAmount</span>
							</td>
						</tr>
						<tr class="@((UserRights.Is_Admin == true) ? "" : "hidden")">
							<td>
							</td>
							<td>
								Discount test (USD) <br />
								<input id="discount" type="number" class="form-control discount" name="discount" step="0.01" autocomplete="off" @((UserRights.Is_Admin == true) ? "" : "readonly")>
							</td>
							<td>
								Final (USD) <br />
								<span id="finalprice" class="finalprice" data-fprice="@item.PriceAmount"> @item.PriceAmount</span>
							</td>
						</tr>
					</tbody>

				</table>
			}

			
			<table class="table table-bordered  mt-3 totaltable @hidepremium">
				<tbody>
					<tr class="@shownet @previewtotalonly">
						<td>Initial Premium</td>
						<td id="initpremtotal" class="text-end">@Model.QuotationResp.Where(x => x.RowId == 1).Sum(x => x.PriceAmount) USD</td>
						<td id="initpremtotalforeign" class="text-end">@Model.QuotationResp.Where(x => x.RowId == 1).Sum(x => x.PriceAmount * UserRights.CurrencyRate) @UserRights.CurrencySymbol</td>
					</tr>
					<tr class="@previewtotalonly">
						<td>Additional @(UserRights.Max_Additional_Fees>0 ? "(Max: " + UserRights.Max_Additional_Fees + ")" : "")</td>
						<td class="text-end">
							<input type="number" id="additiononprem" name="additiononprem" step="0.01" class="borderless-input" max="@UserRights.Max_Additional_Fees" value="0.00" oninput="handlemax(this)">
						</td>
						<td id="additiononpremforeign" class="text-end">0.00 @UserRights.CurrencySymbol</td>
					</tr>
					<tr class="@previewtotalonly">
						<td>Tax/VAT</td>
						<td id="taxvat" class="text-end" vt="@Convert.ToDecimal(UserRights.VAT + UserRights.Commission)">@Model.QuotationResp.Where(x => x.RowId == 1).Sum(x => x.PriceAmount * (Convert.ToDecimal(UserRights.VAT + UserRights.Commission) / 100))</td>
						<td id="taxvatforeign" class="text-end" vt="@Convert.ToDecimal(UserRights.VAT + UserRights.Commission)">@Model.QuotationResp.Where(x => x.RowId == 1).Sum(x => x.PriceAmount * UserRights.CurrencyRate * (Convert.ToDecimal(UserRights.VAT + UserRights.Commission) / 100)) @UserRights.CurrencySymbol</td>
					</tr>
					<tr class="@previewtotalonly">
						<td>Stamps</td>
						<td id="stamps" class="text-end" st="@Convert.ToDecimal(UserRights.Stamp)">@Model.QuotationResp.Where(x => x.RowId == 1).Sum(x => x.PriceAmount * (Convert.ToDecimal(UserRights.Stamp) / 100)) USD</td>
						<td id="stampsforeign" class="text-end" st="@Convert.ToDecimal(UserRights.Stamp)">@Model.QuotationResp.Where(x => x.RowId == 1).Sum(x => x.PriceAmount * UserRights.CurrencyRate * (Convert.ToDecimal(UserRights.Stamp) / 100)) @UserRights.CurrencySymbol</td>
					</tr>
					<tr>
						<td>Total</td>
						<td id="grandtotal" class="text-end">@Model.QuotationResp.Where(x => x.RowId == 1).Sum(x => x.PriceAmount) USD</td>
						<td id="grandtotalforeign" class="text-end">@Model.QuotationResp.Where(x => x.RowId == 1).Sum(x => x.PriceAmount * UserRights.CurrencyRate) @UserRights.CurrencySymbol</td>
					</tr>
				</tbody>
			</table>


			@*<div class="btn btn-third float-end grand_total">Grand Total<span class="pl-4">14.00 USD</span></div>*@
			@*<div class="btn btn-third float-right mr-2">Grand Total</div>*@
		</div>



		@*<div class="table-responsive">
				<table class="table table-sm table-bordered mt-3">
					<thead>
						<tr class="thead-light text-center">
							<th>Full Name</th>
							<th>Plan</th>
							<th>Price</th>
							<th>Discount</th>
							<th>Final Price</th>
						</tr>
					</thead>
					<tbody class="quotation-list">
						@foreach (var item in Model.Where(x => x.RowId == 1))
						{
							<tr class="text-center">
								<td>@item.Insured</td>

								<td>
									<select class="form-control cum_con_days">
										@foreach (var thislist in Model.Where(x => x.Insured == item.Insured))
										{
											<option value="@thislist.Plan" data-bprice="@thislist.PriceAmount" data-fprice="@thislist.PriceAmount" data-price0="@thislist.PriceAmount" data-deductible="@thislist.PriceAmount">
												@thislist.PlanName
											</option>
										}

									</select>
								</td>

								<td>@item.PriceAmount USD</td>
								<td>@item.PriceAmount USD</td>
								<td>@item.NetPremiumAmount USD</td>
							</tr>
						}

					</tbody>
				</table>
			</div>*@
	</div>
</div>

<button id="sendButton" class="mt-3 w-100 btn btn-md btn-primary btn-submit">Issue Certificate</button>
