@model List<ProjectX.Entities.Models.Production.ProductionResp>
@{
	Layout = null;
}


<div class="card mt-2">
	<div class="card-body" style="font-size:13px">
		<div>
			<b>Destination(s)</b>
			<span class="float-end">@Model.First().ZoneName</span>
		</div>
		<div>
			<b>Inception Date</b>
			<span class="float-end">@Model.First().TariffStartingDate</span>
		</div>
		<div>
			<b>Expiry Date</b>
			<span class="float-end">@Model.First().TariffStartingDate</span>
		</div>
		<div>
			<b>Duration</b>
			<span class="float-end">@Model.First().Duration Days</span>
		</div>
		<div>
			<span class="float-end total_price" data-currency="USD"></span>
		</div>
		<div class="table-responsive">
			<table class="table table-sm table-bordered mt-3">
				<thead>
					<tr class="thead-light text-center">
						<th>Full Name</th>
						<th>Cons. / Cumul. Days</th>
						<th>Base Price</th>
						<th>Discount</th>
						<th>Final Price</th>
					</tr>
				</thead>
				<tbody class="quotation-list">
					@foreach (var item in Model.Where(x=>x.RowId ==1))
					{
						<tr class="text-center">
							<td>@item.Insured</td>

							<td>
								<select class="form-control cum_con_days">
									@foreach (var thislist in Model.Where(x=>x.Insured == item.Insured))
										{
											<option value="@thislist.Plan" data-bprice="@thislist.PriceAmount" data-fprice="@thislist.PriceAmount" data-price0="@thislist.PriceAmount" data-deductible="@thislist.PriceAmount">
												@thislist.PlanName
											</option>
										}
									@*<option value="@item.Plan">
										@item.PlanName
									</option>*@
								</select>
							</td>

							<td>@item.PriceAmount USD</td>
							<td>@item.PriceAmount USD</td>
							<td>@item.NetPremiumAmount USD</td>
						</tr>
					}

				</tbody>
			</table>
		</div>
	</div>
</div>
